.EarphonesOuterDiv {
    background-color: #101010;
}

.Earphones_ListsContainer {
    padding: 0px 100px;
}

.Earphones_Title h1 {
    color: white;
    text-align: center;
    margin-top:80px;
    margin-bottom: 80px;
    text-transform: uppercase;
    letter-spacing: 1.42857px;
}