.CartContents img {
    width: 64px;
    height: 64px;
    vertical-align: bottom;
}

.CartContents:first-child {
    margin-top: 0px;
}

.CartContents {
    padding: 0px 30px;
    margin-top: 25px;
}


.itemDetail {
    display: inline-block;
    margin-left: 15px;
}

.itemName {
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
}

.itemPrice {
    font-size: 14px;
    opacity: 0.5;
    font-weight: 700;
    line-height: 0px;
}

.getQuantity {
    float: right;
    margin-left: 111px;
    margin-top: 7px;

    font-size: 15px;
    font-weight:700;
    opacity: 0.5;
}