.ItemsListContainer {
    padding: 0px 100px;
}

.ItemsLists {
    width: 350px;
    height: 204px;
    background-color: #F1F1F1;
    text-align: center;
    margin-top: 200px;
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 168px;
}

.ItemsLists:last-child {
    margin-right: 0px;
}

.ItemsListsInner {
    padding-top: 120px;
}

.ItemsLists h3{
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}

.ItemsLists a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 500;
}

.ItemsListsEarphones, .ItemsListsHeadphones, .ItemsListsSpeakers {
    position: absolute;
}

.ItemsListsHeadphones {
    width: 212.95px;
    height: 210px;
    bottom: -155px;
    left: 215px;
}

.ItemsListsSpeakers {
    width: 212.95px;
    height: 210px;
    bottom: -165px;
    left: 603px;
}

.ItemsListsEarphones {
    width: 203.95px;
    height: 180px;
    bottom: -152px;
    right: 225px;
}

.ArrowIcon {
    margin-left: 10px;
}

.ZX9SpeakerSection {
    width: 1120px;
    height: 560px;
    background-color: #D87D4A;
}