.HomeContainer {
    padding: 0px 70px;
}

.MainBody {
    background: #191919;
    background-image: url('../../image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 1440px 729px;
    /* Had to move the background position to the right by 70px just to match the container margins */
    background-position-x: 70px;
    height: 729px;
}

/* .HeadphonesImage {
    background: url('../../image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 1440px 729px;
    height: 729px;
} */

/* .HeadphonesImage img {
    width: 708.8px;
} */